@import './normalize.scss';
@import './settings.scss';
@import './layout.scss';
html {
    box-sizing: border-box;
    font-family: $default-font;
}

.container {
    max-width: 98vw;
    margin: 0.5rem auto;
    padding-bottom: 4.5rem;
    @include for-tablet-landscape {
        max-width: 1100px;
    }
}