@import './normalize.scss';
@import './settings.scss';
@import './layout.scss';
html {
    box-sizing: border-box !important;
    font-family: $default-font;
}

.container {
    max-width: 98vw;
    margin: 0.5rem auto;
    padding-bottom: 4.5rem;
    @include for-tablet-landscape {
        max-width: 1100px;
    }
}

#app {
    margin-top: 4rem;
    @include for-tablet-portrait {
        margin-top: 6rem;
    }
}

.container-message {
    padding: 4rem 1rem;
    width: 100%;
    text-align: center;
    i {
        display: block;
        font-size: 4rem;
        color: $c-secondary;
    }
    span {
        display: block;
        font-family: $alt-font;
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: 3rem;
    }
}